/*Cards Section*/
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.card {
  position: relative;
  max-width: 40%;
  height: 60vh;
  display: flex;
  background: aliceblue;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none;
}

.card-content h2 {
  font-size: 3rem;
  color: #202020;
  padding: 2rem;
}

.card-content p {
  font-size: 2rem;
  color: #202020;
  padding: 2rem;
}

.card-img {
  position: absolute;
  top: -10%;
  left: 30%;
  height: 65vh;
  transition: 0.8s;
}

.card-img:hover {
  left: 40%;
  top: -20%;
  height: 75vh;
}

.card-content {
  position: relative;
  width: 55%;
  left: -20%;
  opacity: 0;
  transition: all 1s;
}

.card:hover .card-content {
  opacity: 1;
}

.card-content p {
  text-align: justify;
}