* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.main-container {
  margin: 0 auto;
  display: block;
  width: 130rem;
}

/*Navbar Section*/

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline;
  height: 8rem;
  margin-left: 3rem;
}

.logo:hover {
  transform: scale(1.1);
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  list-style: none;
  padding: 3rem;
}

ul li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all 0.5s;
}

@media (min-width: 1220px) {
  a:hover {
    background-color: #e91e63;
    color: white;
  }

  a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s;
  }

  a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
  }

  a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s;
  }

  a:hover:after {
    opacity: 1;
    top: -8px;
    right: -8px;
  }

  .hamburguer-menu {
    display: none;
  }
}

@media (max-width: 1220px) {
  .nav-menu {
    display: none;
  }

  .hamburguer-menu:first-child {
    display: block;
    color: white;
    font-size: xx-large;
    margin-right: 1rem;
  }
  .hamburguer-menu:hover {
    transform: scale(1.3);
  }
}

/*Division Section*/
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.card {
  position: relative;
  max-width: 40%;
  height: 60vh;
  display: flex;
  background: linear-gradient(45deg, #cc2b5e, #753a88);
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  border-radius: 2rem;
}

.card-content h2 {
  font-size: 3rem;
  color:yellow;
}

.card-content p {
  font-size: 2rem;
  color: white
}

.card-img {
  position: absolute;
  top:-10%;
  left: 20%;
  height: 65vh;
  transition: 0.8s;
}

.card-img:hover {
  left: 50%;
  top:-20%;
  height: 75vh;
}

.card-content{
  position: relative;
  width: 40%;
  left: -30%;
  opacity: 0;
  transition: all 1s;
}

.card:hover .card-content {
  opacity: 1;
}

.card-content p {
  text-align: justify;
}
/*Hero Section*/
.hero-section {
  background-color: aliceblue;
}

.hero {
  max-width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: antiquewhite;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 3rem;
}

.hero-heading {
  font-size: 4rem;
  padding: 2rem;
}

.hero-description {
  font-size: 3rem;
  text-align: justify;
  padding: 2rem;
}

.hero-btn {
  width: 32rem;
  height: 8rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  align-self: center;
  background-color: #e91e63;
  color: aliceblue;
  cursor: pointer;
}

.hero-btn:hover {
  transform: scale(1.2);
}

.hero-btn:visited {
  background-color: #8f0f3a;
}